@charset "utf-8";

/* CSS Document */
*{
  box-sizing: border-box;
}
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea {
  margin: 0;
  padding: 0;
}
html,body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "微软雅黑", Arial;
  font-size: 12px;
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul,ol {
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
div{
  user-select:none;
}
